In [21]:
import pandas as pd

df = pd.read_csv('/Users/teddy/Documents/TU_e/ThirdYear/Quartile_4/BEP/edbn_BEP/Data/BPIC15_1_sorted_new.csv')

/Users/teddy/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
df.columns

Index(['case', 'event', 'role', 'completeTime', '(case) IDofConceptCase',
       '(case) Includes_subCases', '(case) Responsible_actor',
       '(case) SUMleges', '(case) caseProcedure', '(case) caseStatus',
       '(case) case_type', '(case) landRegisterID', '(case) last_phase',
       '(case) parts', '(case) requestComplete', '(case) termName',
       'action_code', 'activityNameEN', 'activityNameNL', 'concept:name',
       'dateFinished', 'dateStop', 'dueDate', 'lifecycle:transition',
       'monitoringResource', 'planned', 'question'],
      dtype='object')

In [44]:
from datetime import datetime
df['completeTime'] =  pd.to_datetime(df['completeTime'])
start_date = df['completeTime'][0]
df['monthspassed'] = [(df['completeTime'][i].year - start_date.year) * 12 + (df['completeTime'][i].month - start_date.month) for i in range(df.shape[0])]
df[df['monthspassed'] == 18]
df.groupby('monthspassed').count()

,case,event,role,completeTime,(case) IDofConceptCase,(case) Includes_subCases,(case) Responsible_actor,(case) SUMleges,(case) caseProcedure,(case) caseStatus,...,activityNameEN,activityNameNL,concept:name,dateFinished,dateStop,dueDate,lifecycle:transition,monitoringResource,planned,question
monthspassed,,,,,,,,,,,,,,,,,,,,,
0,107,107,107,107,33,107,107,35,13,107,...,107,107,107,107,0,33,107,107,90,107
1,488,488,488,488,100,488,488,248,4,488,...,488,488,488,488,0,110,488,488,423,488
2,742,742,742,742,321,742,742,581,74,742,...,742,742,742,742,0,124,742,742,653,742
3,772,772,772,772,438,772,772,503,76,772,...,772,772,772,772,0,166,772,772,689,772
4,947,947,947,947,608,947,947,862,93,947,...,947,947,947,947,0,152,947,947,858,947
5,1206,1206,1206,1206,760,1206,1206,964,177,1206,...,1206,1206,1206,1206,0,130,1206,1206,1087,1206
6,1206,1206,1206,1206,680,1206,1206,1074,136,1206,...,1206,1206,1206,1206,0,119,1206,1206,1096,1206
7,1481,1481,1481,1481,797,1481,1481,1279,134,1481,...,1481,1481,1481,1481,0,176,1481,1481,1326,1481
8,1156,1156,1156,1156,565,1156,1156,916,275,1156,...,1156,1156,1156,1156,0,103,1156,1156,1027,1156
9,888,888,888,888,549,888,888,736,174,888,...,888,888,888,888,0,123,888,888,698,888
10,1469,1469,1469,1469,860,1469,1469,1132,183,1469,...,1469,1469,1469,1469,0,95,1469,1469,1099,1469
11,1339,1339,1339,1339,605,1339,1339,1034,262,1339,...,1339,1339,1339,1339,0,82,1339,1339,986,1339
12,1108,1108,1108,1108,533,1108,1108,886,162,1108,...,1108,1108,1108,1108,0,86,1108,1108,807,1108
13,1008,1008,1008,1008,542,1008,1008,863,130,1008,...,1008,1008,1008,1008,0,83,1008,1008,721,1008
14,1043,1043,1043,1043,505,1043,1043,954,63,1043,...,1043,1043,1043,1043,0,99,1043,1043,721,1043
15,1156,1156,1156,1156,575,1156,1155,966,102,1156,...,1156,1156,1156,1156,1,82,1156,1156,808,1156
16,1148,1148,1148,1148,665,1148,1137,986,196,1148,...,1148,1148,1148,1148,1,107,1148,1148,779,1148
17,1332,1332,1332,1332,967,1332,1325,1133,270,1332,...,1332,1332,1332,1332,0,98,1332,1332,1032,1332
18,1000,1000,1000,1000,704,1000,1000,921,112,1000,...,1000,1000,1000,1000,0,60,1000,1000,843,1000
19,924,924,924,924,709,924,924,783,75,924,...,924,924,924,924,0,78,924,924,719,924
20,1084,1084,1084,1084,910,1084,1084,866,178,1084,...,1084,1084,1084,1084,0,46,1084,1084,740,1084
21,917,917,917,917,733,917,917,777,48,917,...,917,917,917,917,0,54,917,917,593,917
22,760,760,760,760,581,760,760,563,72,760,...,760,760,760,760,0,25,760,760,473,760
23,1216,1216,1216,1216,962,1216,1216,894,144,1216,...,1216,1216,1216,1216,0,54,1216,1216,792,1216
24,1133,1133,1133,1133,1048,1133,1133,986,94,1133,...,1133,1133,1133,1133,0,37,1133,1133,697,1133
25,1014,1014,1014,1014,791,1014,1014,788,92,1014,...,1014,1014,1014,1014,0,48,1014,1014,942,1014
26,567,567,567,567,439,567,567,435,18,567,...,567,567,567,567,0,27,567,567,553,567
27,924,924,924,924,679,924,924,841,51,924,...,924,924,924,924,0,38,924,924,920,924
28,677,677,677,677,448,677,677,481,63,677,...,677,677,677,677,0,23,677,677,670,677
29,1279,1279,1279,1279,1009,1279,1279,1043,245,1279,...,1279,1279,1279,1279,0,60,1279,1279,1274,1279
30,1156,1156,1156,1156,856,1156,1156,1007,104,1156,...,1156,1156,1156,1156,0,33,1156,1156,1147,1156
31,1119,1119,1119,1119,860,1119,1119,1020,34,1119,...,1119,1119,1119,1119,0,40,1119,1119,1115,1119
32,1208,1208,1208,1208,965,1208,1208,1050,63,1208,...,1208,1208,1208,1208,0,29,1208,1208,1196,1208
33,643,643,643,643,501,643,643,535,10,643,...,643,643,643,643,0,28,643,643,642,643
34,935,935,935,935,576,935,935,836,53,935,...,935,935,935,935,0,31,935,935,935,935
35,802,802,802,802,634,802,802,704,35,802,...,802,802,802,802,0,35,802,802,799,802
36,1161,1161,1161,1161,802,1161,1161,997,61,1161,...,1161,1161,1161,1161,0,40,1161,1161,1158,1161
37,889,889,889,889,730,889,889,720,88,889,...,889,889,889,889,0,22,889,889,887,889
38,672,672,672,672,577,672,672,553,61,672,...,672,672,672,672,0,33,672,672,672,672
39,864,864,864,864,580,807,864,693,62,864,...,864,864,864,864,0,25,864,864,864,864
40,993,993,993,993,707,470,993,932,147,993,...,993,993,993,993,0,47,993,993,993,993
41,1019,1019,1019,1019,682,283,1019,872,107,1019,...,1019,1019,1019,1019,0,57,1019,1019,1017,1019
42,813,813,813,813,718,182,813,735,59,813,...,813,813,813,813,0,26,813,813,811,813
43,1217,1217,1217,1217,880,86,1217,1133,126,1217,...,1217,1217,1217,1217,0,35,1217,1217,1217,1217
44,977,977,977,977,630,65,977,884,109,977,...,977,977,977,977,0,33,977,977,977,977
45,1118,1118,1118,1118,739,97,1118,979,102,1118,...,1118,1118,1118,1118,0,46,1118,1118,1118,1118
46,533,533,533,533,454,58,533,455,60,533,...,533,533,533,533,0,22,533,533,533,533
47,940,940,940,940,847,67,940,815,148,940,...,940,940,940,940,0,33,940,940,940,940
48,1276,1276,1276,1276,1016,36,1276,1150,134,1276,...,1276,1276,1276,1276,0,49,1276,1276,1276,1276
49,862,862,862,862,653,16,862,734,94,862,...,862,862,862,862,0,39,862,862,862,862
50,967,967,967,967,740,87,967,765,155,967,...,967,967,967,967,0,51,967,967,967,967
51,1165,1165,1165,1165,905,6,1165,964,81,1165,...,1165,1165,1165,1165,0,38,1165,1165,1165,1165
52,729,729,729,729,601,0,729,474,69,729,...,729,729,729,729,0,29,729,729,729,729
53,67,67,67,67,67,0,67,48,0,67,...,67,67,67,67,0,0,67,67,67,67
58,1,1,1,1,0,1,1,0,1,1,...,1,1,1,1,0,1,1,1,1,1

In [39]:
len(df['event'].unique())

398

In [22]:
out = sorted(df['event_Prev9'].unique())

In [23]:
print(out)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 80, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 101, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 136, 137, 140, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 176, 177, 178, 179, 180, 181, 183, 184, 185, 186, 187, 190, 192, 193, 194]

In [24]:
df.columns

Index(['Unnamed: 0', 'level_0', 'index', 'event_Prev9', 'role_Prev9',
       'completeTime_Prev9', 'case_Prev9', 'event_Prev8', 'role_Prev8',
       'completeTime_Prev8', 'case_Prev8', 'event_Prev7', 'role_Prev7',
       'completeTime_Prev7', 'case_Prev7', 'event_Prev6', 'role_Prev6',
       'completeTime_Prev6', 'case_Prev6', 'event_Prev5', 'role_Prev5',
       'completeTime_Prev5', 'case_Prev5', 'event_Prev4', 'role_Prev4',
       'completeTime_Prev4', 'case_Prev4', 'event_Prev3', 'role_Prev3',
       'completeTime_Prev3', 'case_Prev3', 'event_Prev2', 'role_Prev2',
       'completeTime_Prev2', 'case_Prev2', 'event_Prev1', 'role_Prev1',
       'completeTime_Prev1', 'case_Prev1', 'event_Prev0', 'role_Prev0',
       'completeTime_Prev0', 'case_Prev0', 'event', 'role', 'completeTime',
       'case'],
      dtype='object')

In [63]:
df2 = pd.read_csv('dysfunctionalTensors.csv')

In [64]:
df3 = df2.T

In [65]:
df3 = df3.iloc[1:,]

In [66]:
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,65,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0
3,68,65,0,0,0,0,0,0,0,0,5,5,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9948,211,210,18,208,207,89,190,8,9,7,4,4,8,8,8,8,8,8,4,8
9949,214,25,211,210,18,208,207,89,190,8,4,4,4,4,8,8,8,8,8,8
9950,269,214,25,211,210,18,208,207,89,190,4,4,4,4,4,8,8,8,8,8
9951,126,269,214,25,211,210,18,208,207,89,4,4,4,4,4,4,8,8,8,8
9952,127,126,269,214,25,211,210,18,208,207,4,4,4,4,4,4,4,8,8,8

In [67]:
df3.max()

0     318
1     318
2     317
3     316
4     316
5     316
6     316
7     316
8     316
9     316
10     17
11     17
12     17
13     17
14     17
15     17
16     17
17     17
18     17
19     17
dtype: int64

In [61]:
df2

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,9943,9944,9945,9946,9947,9948,9949,9950,9951,9952
0,0,0,0,65,68,0,19,20,25,194,...,89,174,18,159,25,95,194,25,126,127
1,1,0,0,0,65,0,0,19,20,25,...,190,89,143,18,99,103,25,70,80,126
2,2,0,0,0,0,0,0,0,19,20,...,8,190,74,97,16,18,49,25,87,91
3,3,0,0,0,0,0,0,0,0,19,...,9,8,89,33,18,111,192,187,25,43
4,4,0,0,0,0,0,0,0,0,0,...,7,9,190,89,98,95,18,0,91,25
5,5,0,0,0,0,0,0,0,0,0,...,6,7,8,190,175,89,73,18,26,7
6,6,0,0,0,0,0,0,0,0,0,...,183,6,9,8,89,190,71,126,18,161
7,7,0,0,0,0,0,0,0,0,0,...,5,183,7,9,190,8,89,56,84,18
8,8,0,0,0,0,0,0,0,0,0,...,0,5,6,7,8,9,190,89,50,133
9,9,0,0,0,0,0,0,0,0,0,...,0,0,183,6,9,7,8,190,89,163
10,10,0,0,5,5,0,4,4,4,4,...,12,12,8,4,4,4,4,4,4,4
11,11,0,0,0,5,0,0,4,4,4,...,12,12,8,8,4,4,4,4,4,4
12,12,0,0,0,0,0,0,0,4,4,...,12,12,8,8,4,8,4,4,4,4
13,13,0,0,0,0,0,0,0,0,4,...,12,12,8,8,8,8,4,4,4,4
14,14,0,0,0,0,0,0,0,0,0,...,12,12,8,8,8,8,8,4,4,4
15,15,0,0,0,0,0,0,0,0,0,...,12,12,8,8,8,8,8,8,4,4
16,16,0,0,0,0,0,0,0,0,0,...,12,12,4,8,8,8,8,8,8,4
17,17,0,0,0,0,0,0,0,0,0,...,12,12,8,4,8,8,8,8,8,8
18,18,0,0,0,0,0,0,0,0,0,...,0,12,8,8,8,4,8,8,8,8
19,19,0,0,0,0,0,0,0,0,0,...,0,0,8,8,4,8,8,8,8,8

In [62]:
df2.max()

Unnamed: 0     19
0               0
1               0
2              65
3              68
             ...
9948          190
9949          194
9950          190
9951          126
9952          163
Length: 9954, dtype: int64

In [2]:
rez = pd.read_csv("SDL_OTF_4k_drift_reset.csv")

In [4]:
rez.describe()

               216           11   0.76172465     0.0
count  3999.000000  3999.000000  3999.000000  3999.0
mean    122.186047    66.829207     0.655306     0.0
std      87.065120    45.705936     0.298717     0.0
min       1.000000     1.000000     0.006796     0.0
25%      49.000000    26.000000     0.421971     0.0
50%      80.000000    68.000000     0.706943     0.0
75%     213.000000    82.000000     0.957582     0.0
max     293.000000   202.000000     0.999986     0.0

In [5]:
rez1 = pd.read_csv("SDL_OTF_drift_reset.csv")

In [6]:
rez1.describe()

                 18          18.1    0.92160255      0.0
count  27361.000000  27361.000000  27361.000000  27361.0
mean      91.971383     92.296992      0.852513      0.0
std       70.266239     69.774755      0.199161      0.0
min        1.000000      1.000000      0.073971      0.0
25%       31.000000     31.000000      0.770016      0.0
50%       75.000000     75.000000      0.955868      0.0
75%      126.000000    127.000000      0.997147      0.0
max      314.000000    314.000000      1.000000      0.0

In [17]:
rez1.iloc[:20000, 2].mean()

0.8509947770429986

In [20]:
rez1.iloc[20000:, 2].mean()

0.8566397074583638

In [59]:
all_contextdf = pd.read_csv("/Users/teddy/Documents/TU_e/ThirdYear/Quartile_4/BEP/edbn_BEP/Data/BPIC15_ALL_context.csv")
all_contextdf

,Unnamed: 0,level_0,index,case_Prev9,event_Prev9,role_Prev9,completeTime_Prev9,case_Prev8,event_Prev8,role_Prev8,...,role_Prev1,completeTime_Prev1,case_Prev0,event_Prev0,role_Prev0,completeTime_Prev0,case,event,role,completeTime
0,0,0.0,107688,2396,0,0,0,2396,0,0,...,0,0,2396,0,0,0,2396,79,56,2009-11-18 00:00:00
1,1,1.0,117763,2628,0,0,0,2628,0,0,...,0,0,2628,0,0,0,2628,42,4,2009-11-23 00:00:00
2,2,2.0,57932,1215,0,0,0,1215,0,0,...,0,0,1215,0,0,0,1215,56,16,2010-01-01 00:00:00
3,3,3.0,164154,3690,0,0,0,3690,0,0,...,0,0,3690,0,0,0,3690,304,10,2010-05-13 00:00:00
4,4,4.0,87421,1918,0,0,0,1918,0,0,...,0,0,1918,0,0,0,1918,57,35,2010-06-29 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262623,262623,262603.0,22615,495,340,3,2015-02-18 00:00:00,495,392,3,...,61,2015-03-03 00:00:00,495,167,61,2015-03-03 00:00:00,495,146,61,2015-03-05 00:00:00
262624,262624,262613.0,23371,513,340,3,2015-02-05 00:00:00,513,392,3,...,61,2015-03-03 00:00:00,513,167,61,2015-03-03 00:00:00,513,146,61,2015-03-05 00:00:00
262625,262625,262626.0,24471,543,165,57,2015-02-26 00:00:00,543,166,57,...,57,2015-03-03 00:00:00,543,163,57,2015-03-09 00:00:00,543,164,57,2015-03-09 00:00:00
262626,262626,262625.0,24470,543,162,57,2015-02-26 00:00:00,543,165,57,...,57,2015-03-03 00:00:00,543,147,57,2015-03-03 00:00:00,543,163,57,2015-03-09 00:00:00
262627,262627,262627.0,62653,1336,43,28,2013-11-25 00:00:00,1336,45,28,...,28,2013-11-25 00:00:00,1336,224,28,2013-11-25 00:00:00,1336,42,28,2015-08-01 00:00:00

In [68]:
last = all_contextdf.groupby(['case'], as_index = False).last()
#all_contextdf[all_contextdf['case'] == last.index & all_contextdf['completeTime'] == last.index]
last

,case,Unnamed: 0,level_0,index,case_Prev9,event_Prev9,role_Prev9,completeTime_Prev9,case_Prev8,event_Prev8,...,event_Prev1,role_Prev1,completeTime_Prev1,case_Prev0,event_Prev0,role_Prev0,completeTime_Prev0,event,role,completeTime
0,1,237054,237054.0,45,1,161,51,2014-08-20 00:00:00,1,162,...,37,50,2014-10-07 00:00:00,1,192,50,2014-10-07 00:00:00,36,50,2014-10-07 11:55:52
1,2,227612,227612.0,58,2,45,50,2014-08-06 00:00:00,2,46,...,203,50,2014-08-06 00:00:00,2,219,50,2014-08-06 00:00:00,56,50,2014-08-06 09:35:43
2,3,217788,217915.0,103,3,146,61,2014-06-04 00:00:00,3,147,...,167,61,2014-06-04 00:00:00,3,163,61,2014-06-05 00:00:00,164,61,2014-06-05 00:00:00
3,4,228482,228482.0,116,4,45,50,2014-08-14 00:00:00,4,46,...,203,50,2014-08-14 00:00:00,4,219,50,2014-08-14 00:00:00,56,50,2014-08-14 12:00:38
4,5,220749,220841.0,171,5,161,61,2014-06-24 00:00:00,5,162,...,456,13,2014-06-24 00:00:00,5,146,61,2014-06-26 00:00:00,147,61,2014-06-26 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5642,5643,213908,213908.0,262395,5643,494,70,2014-02-11 00:00:00,5643,1,...,194,40,2014-05-09 00:00:00,5643,195,40,2014-05-09 00:00:00,36,40,2014-05-09 17:42:44
5643,5644,201960,201960.0,262445,5644,155,41,2014-02-19 00:00:00,5644,159,...,494,41,2014-02-19 00:00:00,5644,146,41,2014-02-19 09:30:52,163,41,2014-02-19 09:30:56
5644,5645,195879,195775.0,262493,5645,459,42,2014-01-02 00:00:00,5645,146,...,164,41,2014-01-08 00:00:00,5645,165,41,2014-01-08 00:00:00,166,41,2014-01-08 00:00:00
5645,5646,224938,224849.0,262553,5646,159,59,2014-07-11 00:00:00,5646,161,...,147,59,2014-07-17 00:00:00,5646,163,59,2014-07-17 00:00:00,164,59,2014-07-17 00:00:00
5646,5647,205711,205711.0,262627,5647,494,41,2014-01-27 00:00:00,5647,1,...,193,40,2014-03-12 00:00:00,5647,194,40,2014-03-12 00:00:00,36,40,2014-03-12 14:55:18

In [67]:
last = all_contextdf.groupby(['case'])['completeTime'].max()
last

case
1       2014-10-07 11:55:52
2       2014-08-06 09:35:43
3       2014-06-05 00:00:00
4       2014-08-14 12:00:38
5       2014-06-26 00:00:00
               ...
5643    2014-05-09 17:42:44
5644    2014-02-19 09:30:56
5645    2014-01-08 00:00:00
5646    2014-07-17 00:00:00
5647    2014-03-12 14:55:18
Name: completeTime, Length: 5647, dtype: object

In [49]:
all = pd.read_csv("/Users/teddy/Documents/TU_e/ThirdYear/Quartile_4/BEP/edbn_BEP/Data/BPIC15_ALL.csv")

/Users/teddy/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6,22) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [50]:
all.columns

Index(['Unnamed: 0', 'case', 'event', 'role', 'completeTime',
       '(case) IDofConceptCase', '(case) Includes_subCases',
       '(case) Responsible_actor', '(case) SUMleges', '(case) caseProcedure',
       '(case) caseStatus', '(case) case_type', '(case) landRegisterID',
       '(case) last_phase', '(case) parts', '(case) requestComplete',
       '(case) termName', 'action_code', 'activityNameEN', 'activityNameNL',
       'concept:name', 'dateFinished', 'dateStop', 'dueDate',
       'lifecycle:transition', 'monitoringResource', 'planned', 'question'],
      dtype='object')

In [86]:
bpic15_1 = pd.read_csv("/Users/teddy/Documents/TU_e/ThirdYear/Quartile_4/BEP/edbn_BEP/Data/BPIC15_1_sorted_new.csv")

/Users/teddy/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [105]:
len(bpic15_1.loc[:26110,'event'].unique())

289

In [98]:
bleed.shape

(26109, 47)

In [81]:
bleed.shape

(26109, 47)

In [85]:
sorted(all_contextdf.iloc[:26110,:]['event'].unique())

[1,
 4,
 11,
 15,
 36,
 42,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 55,
 56,
 57,
 58,
 60,
 62,
 64,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 78,
 79,
 84,
 85,
 89,
 90,
 93,
 94,
 98,
 99,
 100,
 103,
 106,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 116,
 117,
 118,
 119,
 120,
 122,
 123,
 130,
 131,
 132,
 133,
 135,
 137,
 138,
 139,
 140,
 142,
 143,
 159,
 162,
 163,
 171,
 172,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 204,
 205,
 208,
 209,
 210,
 219,
 221,
 222,
 225,
 226,
 229,
 230,
 232,
 236,
 237,
 238,
 239,
 240,
 242,
 244,
 248,
 249,
 250,
 251,
 252,
 254,
 255,
 261,
 262,
 263,
 269,
 270,
 271,
 293,
 295,
 296,
 298,
 299,
 304,
 306,
 307,
 309,
 310,
 316,
 318,
 319,
 323,
 334,
 335,
 337,
 340,
 341,
 343,
 347,
 348,
 349,
 352,
 354,
 358,
 360,
 361,
 366,
 386,
 387,
 390,
 391,
 392,
 394,
 395,
 402,
 407,
 409,
 414,
 419,
 422,
 427,
 428,
 429,
 435,
 438,
 439,
 441,
 443]