In [1]:
import pandas as pd

df = pd.read_csv('dysfunctionalData.csv')

In [2]:
df

,Unnamed: 0,level_0,index,event_Prev9,role_Prev9,completeTime_Prev9,case_Prev9,event_Prev8,role_Prev8,completeTime_Prev8,...,completeTime_Prev1,case_Prev1,event_Prev0,role_Prev0,completeTime_Prev0,case_Prev0,event,role,completeTime,case
0,0,0.0,7,0,0,0,2,0,0,0,...,0,2,0,0,0,2,5,8,2010-10-05 00:00:00+02:00,2
1,1,1.0,62,0,0,0,4,0,0,0,...,0,4,0,0,0,4,5,13,2010-10-06 00:00:00+02:00,4
2,3,3.0,100,0,0,0,5,0,0,0,...,0,5,0,0,0,5,5,2,2010-10-07 00:00:00+02:00,5
3,4,4.0,8,0,0,0,2,0,0,0,...,0,2,5,8,2010-10-05 00:00:00+02:00,2,6,8,2010-10-07 14:57:14+02:00,2
4,5,5.0,101,0,0,0,5,0,0,0,...,0,5,5,2,2010-10-07 00:00:00+02:00,5,17,2,2010-10-11 00:00:00+02:00,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16956,16995,16995.0,15887,19,2,2012-02-17 09:20:37+01:00,429,20,2,2012-02-17 09:20:39+01:00,...,2012-02-17 09:20:53+01:00,429,142,2,2012-02-17 09:20:54+01:00,429,42,2,2012-02-17 09:20:55+01:00,429
16957,16996,16996.0,15888,20,2,2012-02-17 09:20:39+01:00,429,25,2,2012-02-17 09:20:42+01:00,...,2012-02-17 09:20:54+01:00,429,42,2,2012-02-17 09:20:55+01:00,429,43,2,2012-02-17 09:20:56+01:00,429
16958,16997,16997.0,15889,25,2,2012-02-17 09:20:42+01:00,429,194,2,2012-02-17 09:20:47+01:00,...,2012-02-17 09:20:55+01:00,429,43,2,2012-02-17 09:20:56+01:00,429,44,2,2012-02-17 09:20:57+01:00,429
16959,16998,16998.0,15890,194,2,2012-02-17 09:20:47+01:00,429,29,2,2012-02-17 09:20:48+01:00,...,2012-02-17 09:20:56+01:00,429,44,2,2012-02-17 09:20:57+01:00,429,50,2,2012-02-17 09:20:59+01:00,429
16960,16999,16999.0,15891,29,2,2012-02-17 09:20:48+01:00,429,32,2,2012-02-17 09:20:50+01:00,...,2012-02-17 09:20:57+01:00,429,50,2,2012-02-17 09:20:59+01:00,429,168,2,2012-02-17 09:21:00+01:00,429

In [22]:
out = sorted(df['event_Prev9'].unique())

In [23]:
print(out)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 79, 80, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 101, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 136, 137, 140, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 176, 177, 178, 179, 180, 181, 183, 184, 185, 186, 187, 190, 192, 193, 194]

In [24]:
df.columns

Index(['Unnamed: 0', 'level_0', 'index', 'event_Prev9', 'role_Prev9',
       'completeTime_Prev9', 'case_Prev9', 'event_Prev8', 'role_Prev8',
       'completeTime_Prev8', 'case_Prev8', 'event_Prev7', 'role_Prev7',
       'completeTime_Prev7', 'case_Prev7', 'event_Prev6', 'role_Prev6',
       'completeTime_Prev6', 'case_Prev6', 'event_Prev5', 'role_Prev5',
       'completeTime_Prev5', 'case_Prev5', 'event_Prev4', 'role_Prev4',
       'completeTime_Prev4', 'case_Prev4', 'event_Prev3', 'role_Prev3',
       'completeTime_Prev3', 'case_Prev3', 'event_Prev2', 'role_Prev2',
       'completeTime_Prev2', 'case_Prev2', 'event_Prev1', 'role_Prev1',
       'completeTime_Prev1', 'case_Prev1', 'event_Prev0', 'role_Prev0',
       'completeTime_Prev0', 'case_Prev0', 'event', 'role', 'completeTime',
       'case'],
      dtype='object')

In [63]:
df2 = pd.read_csv('dysfunctionalTensors.csv')

In [64]:
df3 = df2.T

In [65]:
df3 = df3.iloc[1:,]

In [66]:
df3

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,65,0,0,0,0,0,0,0,0,0,5,0,0,0,0,0,0,0,0,0
3,68,65,0,0,0,0,0,0,0,0,5,5,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9948,211,210,18,208,207,89,190,8,9,7,4,4,8,8,8,8,8,8,4,8
9949,214,25,211,210,18,208,207,89,190,8,4,4,4,4,8,8,8,8,8,8
9950,269,214,25,211,210,18,208,207,89,190,4,4,4,4,4,8,8,8,8,8
9951,126,269,214,25,211,210,18,208,207,89,4,4,4,4,4,4,8,8,8,8
9952,127,126,269,214,25,211,210,18,208,207,4,4,4,4,4,4,4,8,8,8

In [67]:
df3.max()

0     318
1     318
2     317
3     316
4     316
5     316
6     316
7     316
8     316
9     316
10     17
11     17
12     17
13     17
14     17
15     17
16     17
17     17
18     17
19     17
dtype: int64

In [61]:
df2

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,9943,9944,9945,9946,9947,9948,9949,9950,9951,9952
0,0,0,0,65,68,0,19,20,25,194,...,89,174,18,159,25,95,194,25,126,127
1,1,0,0,0,65,0,0,19,20,25,...,190,89,143,18,99,103,25,70,80,126
2,2,0,0,0,0,0,0,0,19,20,...,8,190,74,97,16,18,49,25,87,91
3,3,0,0,0,0,0,0,0,0,19,...,9,8,89,33,18,111,192,187,25,43
4,4,0,0,0,0,0,0,0,0,0,...,7,9,190,89,98,95,18,0,91,25
5,5,0,0,0,0,0,0,0,0,0,...,6,7,8,190,175,89,73,18,26,7
6,6,0,0,0,0,0,0,0,0,0,...,183,6,9,8,89,190,71,126,18,161
7,7,0,0,0,0,0,0,0,0,0,...,5,183,7,9,190,8,89,56,84,18
8,8,0,0,0,0,0,0,0,0,0,...,0,5,6,7,8,9,190,89,50,133
9,9,0,0,0,0,0,0,0,0,0,...,0,0,183,6,9,7,8,190,89,163
10,10,0,0,5,5,0,4,4,4,4,...,12,12,8,4,4,4,4,4,4,4
11,11,0,0,0,5,0,0,4,4,4,...,12,12,8,8,4,4,4,4,4,4
12,12,0,0,0,0,0,0,0,4,4,...,12,12,8,8,4,8,4,4,4,4
13,13,0,0,0,0,0,0,0,0,4,...,12,12,8,8,8,8,4,4,4,4
14,14,0,0,0,0,0,0,0,0,0,...,12,12,8,8,8,8,8,4,4,4
15,15,0,0,0,0,0,0,0,0,0,...,12,12,8,8,8,8,8,8,4,4
16,16,0,0,0,0,0,0,0,0,0,...,12,12,4,8,8,8,8,8,8,4
17,17,0,0,0,0,0,0,0,0,0,...,12,12,8,4,8,8,8,8,8,8
18,18,0,0,0,0,0,0,0,0,0,...,0,12,8,8,8,4,8,8,8,8
19,19,0,0,0,0,0,0,0,0,0,...,0,0,8,8,4,8,8,8,8,8

In [62]:
df2.max()

Unnamed: 0     19
0               0
1               0
2              65
3              68
             ...
9948          190
9949          194
9950          190
9951          126
9952          163
Length: 9954, dtype: int64